*{
    padding: 0px;
    margin: 0px;
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Styles */
.btn-primary{
    background-color: #4e47ff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0px;
    margin: 0px;
}



/* Nav Styles */
.nav-container{
    background-image: url(..//images/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    max-height: 698px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 130px 0px;
}

.nav-bar-section{
    width: 1140px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding:  50px 150px 0px 150px;
}
.logo{
    color: #4e47ff;
    font-weight: bolder;
    font-size: 34px;
}
.nav-btn-01{
    font-size: px;
    border: none;
    color: white;
    width: 132px;
    height: 48px;
    border-radius: 10px;
}
.banner-title{
    text-align: center;
    padding: 0px 267.5px 152px 267.5px;
}
.banner-title-description{
    font-weight: bold;
    font-size: 65px;
    
}
.nav-btn-02{
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    width: 174px;
    height: 48px;
    margin-top: 37px;
    border-radius: 10px;
}


/* Action Styles */

.action-container{
    display: flex;
    justify-content: space-around;
    padding: 116px 159px 0px 141px;
    
}
.action-contain{
    width: 517px;
    height: 203px;
    padding: 62.5px 0px 62.5px 0px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    color: #252432;
    font-weight: normal;
    font-size: 24px;
}
.action-btn{
    font-size: px;
    border: none;
    color: white;
    width: 229px;
    height: 48px;
    border-radius: 10px;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


/* Productive-User Styles */

 .productive-user{
    width: 1140px;
    height: 360px;
    padding: 116px 159px 0px 141px;
 }
.productive-user-box{
    background-color: rgba(78, 71, 255, 0.1);
    width: 856px;
    height: 206px;
    padding: 50px 142px 50px 142px;
}
.productive-user-title{
    color: #252432;
    width: 856px;
    height: 45px;;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
.productive-user-descriptions{
    display: flex;
    justify-content: space-around;
    width: 856px;
    height: 121px;
}
.productive-user-percentage{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
}
.productive-user-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
    font-size: 20px;
}



/* Review Styles */
.review-section{
    padding: 137px 150px 0px 150px;
}

.review-header{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    width: 1140px;
    height: 49px;
    padding-bottom: 50px;
}
.review-container{
    display: flex;
    gap: 20px;
    width: 1140px;
    height: 243px;
}
.review-contain{
    width: 367px;
    height: 243px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 24px;
}
.star{
    width: 116px;
    height: 20px;
    padding: 24px 0px 24px 24px;
}
.review-title{
    width: 221px;
    height: 29px;
    padding-bottom: 8px;
}
.review-description{
    width: 318px;
    height: 44px;
    padding-bottom: 24px;
}
.review-foot{
    display: flex;
    align-items: center;
}
.foot-img{
    padding-right: 12px;
}

/* Ads Section */

/* Form Section */
.form-section{
    width: 1140px;
    height: 632px;
    padding: 93px 150px 0px 150px;
}
.form-container{
    display: flex;
}
.form-contain-02{
    width: 497px;
    height: 490px;
}
.form-title{
    font-weight: bold;
    font-size: 97px;
    width: 528px;
    height: 232px;
    padding: 129px 115px 129px 0px;
}


.Email{
    font-weight: normal;
    font-size: 18px;
    color: black;
    width: 497px;
    height: 102px;
    padding-bottom: 19px;
}
.Name{
    font-weight: normal;
    font-size: 18px;
    color: black;
    width: 497px;
    height: 102px;
    padding-bottom: 19px;
}
.message{
    font-weight: normal;
    font-size: 18px;
    color: black;
    width: 497px;
    height: 167px;
    padding-bottom: 19px;
}
.form-btn{
    width: 497px;
    height: 62px;
}
.form-btn-text{
    width: 95px;
    height: 24px;
}

main section div div form input[type="text"], form input[type="email"], form textarea{
    height: 64px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    padding: 0px 70px;
    margin-bottom: 20px;
    border: 2px solid gray;
}



/* Footer Section */
.footer-container{
    width: 1440px;
    height: 428px;
}
.footer-containers{
    text-align: center;
    padding: 103px 455px 104px 454px;
}
.logo-foot{
    font-weight: bolder;
    font-size: 5em;
    padding: 0px 120px 8px 120px;
}
footer section div span{
    font-size: 30px;

}
.link-align{
    display: flex;
    justify-content: space-between;
    padding: 20px 65px 0px 65px;
}
footer section div a{
    text-align: center;
    text-decoration: none;
}